@import "vars";

.curso {
    .box {
        margin-top: 20px;
        margin-bottom: 30px;
    }
    .title {
        color: $darkgrey;
        font-family: 'Open Sans', sans-serif;
        font-size: 1.2em;
        margin-bottom: 15px;
    }

    .description {
        color: $darkgrey;
        line-height: 1.2em;
        font-family: 'Open Sans', sans-serif;

    }

    .contact {
        font-size: 0.8em;
        color: $grey;
        margin-top: 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .alert {
        color: $color-alert;
    }
}
