@import "vars";

.masthead {
    height: 2rem;
    .matildes-masthead-item {
        margin-left: 2px;
        margin-right: 20px;
        font-size: 12px;
        vertical-align: text-top;
    }
    .facebook-icon {
        color: $facebook-color;
    }
    .instagram-icon {
        color: $instagram-color;
    }
}
