@import "vars";

$height: 50px;

.navigation-menu {
  border-top-style: solid;
  border-bottom-style: solid;
  border-width: 2px;
  border-color: black;
  height: $height;
  .wrapper {
    text-align: center;
    .nav-menu-item {
      display: inline-block;
      line-height: $height;
      cursor: pointer;
      color: $darkgrey;
      font-weight: 700;
      margin-right: 30px;
      > a {
        color: $darkgrey;
      }
    }
    .active > a {
      color: #008CBA;
    }
  }

  .cart-container {
    float: right;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    margin-top: 5px;

    &.cart-full {
      .n-items {
        width: 14px;
        height: 14px;
        position: absolute;
        pointer-events: none;
        @include border-radius(7px);
        background: $color-alert;
        text-align: center;
        left: 0px;
        top: 15px;
        color: $lightgrey;
        font-size: 10px;
      }
    }

    &.cart-empty {
      .fa-shopping-cart {
        color: gray;
      }
      .n-items {
        display: none;
      }
    }

  }

}
