// Import foundation
@import "../build/foundation/scss/foundation.scss";
@import "../build/foundation/scss/normalize.scss";

// slick
// @import "../build/slick/slick.scss";
// @import "../build/slick/slick-theme.scss";

@import "masthead";
@import "logo";
@import "navmenu";
@import "calendar";
@import "cursos";
@import "articulos";
@import "contacto";
@import "footer";


.date {
    font: normal normal 14px Neucha;
    color: $grey;
    height: 25px;
    margin: 1.5em 0 15px;
    line-height: 1.4em;
    letter-spacing: .2em;
    border-bottom: solid 2px;
}

body {
    color: #4d4d4d;
}
