<div class="row section articulos">
    <h4>Articulos</h4>

    <div class="tag-section">
        <span class="label round item-label" ng-repeat="(tag, value) in showedTags" ng-click="addRemoveTag(tag)"
              ng-class="{secondary: !showedTags[tag]}">{{tag}}</span>
    </div>

    <div class="item-grid">
        <ul class="small-block-grid-2 medium-block-grid-4 large-block-grid-6">
            <li ng-repeat="item in showedItems">
                <matildes-articulo item="item"></matildes-articulo>
            </li>
        </ul>
    </div>
</div>
