<div class="container contacto">
    <div class="row section">
        <div class="small-12 large-6 columns">
            <ng-map center="39.459739, -0.365555" zoom="17">
                <marker position="General Urrutia 20, Valencia, Spain" animation="Animation.DROP" title="Les Matildes"></marker>
            </ng-map>
        </div>
        <div class="small-12 large-6 columns">
            <div class="in-section">
                <h5>Dirección</h5>
                <div class=address>
                    Calle General Urrutia, 20, Valencia
                </div>
            </div>
            <div class="in-section">
                <h5>Horario</h5>
                <div><pre>
Lun-Vie: 10am-2pm y 5pm-8pm
Sab:     10am-2pm
Dom:     Cerrados
                </pre></div>
            </div>
        </div>
    </div>
</div>
