<div class="container">
    <div class="row section">
        <h4>Próximos cursos</h4>
        <div class="small-2 large-4 columns">&nbsp;</div>
        <div class="small-8 large-4 columns">
            <div class="container center">
                <matildes-calendar selected="day" events="cursos"></calendar>
            </div>
        </div>
        <div class="small-2 large-4 columns">&nbsp;</div>
    </div>
    <div class="row section">
        <div class="curso" ng-repeat="curso in cursos">
            <div class="box">
                <div class="date">{{curso.fechasFmt}}</div>
                <div class="title">{{curso.titulo}}</div>
                <div class="description">{{curso.descripcion}}</div>
                <div class="contact">Contacta para reservar tu plaza: <span><i class="fa fa-phone"></i></span> <span class="matildes-masthead-item">96-3222639</span> <span><i class="fa fa-envelope-o matildes-masthead-item"></i></span> <span class="matildes-masthead-item">lesmatildes@hotmail.com</span>
                </div>
            </div>
            <!-- <p>{{curso}}</p> -->
        </div>
    </div>
</div>
