<div class="container home">

    <div class="row section">
        <div class="small-12 columns">
            <div class="slider">
                <div><img src="./imgs/carousel/carousel-0.png" alt="tienda" /></div>
                <div><img src="./imgs/carousel/carousel-1.png" alt="lanuches" /></div>
                <div><img src="./imgs/carousel/carousel-2.png" alt="bolsos" /></div>
            </div>
        </div>
    </div>

    <div class="row section" ng-show="news.length">
        <h3>Últimas noticias</h3>
        <div ng-repeat="new in news">
            <div class="date">
                {{new.formattedDate}}
            </div>
            <div class="news-message" ng-bind-html=new.formattedMsg>
            </div>
        </div>
    </div>

    <!-- <div class="row section">
        <div class="small-12 large-6 columns">
            <p class="sub-section-header">Próximos cursos</p>
            <div class="row section">
                <div class="small-2 columns">&nbsp;</div>
                <div class="small-8 columns">
                    <div class="center-div">
                        <matildes-calendar selected="day" events="cursos"></matildes-calendar>
                    </div>
                </div>
                <div class="small-2 columns">&nbsp;</div>
            </div>
        </div>
    </div> -->

</div>
