<div class="row masthead">
    <div class="small-8 columns">
        <span>
            <i class="fa fa-phone"></i>
        </span>
        <span class="matildes-masthead-item">96-3222639</span>
    <!-- </div> -->

    <!-- <div class="small-4 columns"> -->
        <span>
            <i class="fa fa-facebook-square facebook-icon"></i>
        </span>
        <span class="matildes-masthead-item">
            <a target=_blank href="https://www.facebook.com/Les-matildes-530046710428049/">Facebook</a>
        </span>
    <!-- </div> -->

    <!-- <div class="small-2 columns"> -->
        <span>
            <i class="fa fa-instagram instagram-icon" style="color:#cb2028;"></i>
        </span>
        <span class="matildes-masthead-item instagram-icon">
            <a target=_blank href="https://www.instagram.com/lesmatildes">Instagram</a>
        </span>

        <span>
            <i class="fa fa-envelope-o email-icon"></i>
        </span>
        <span class="matildes-masthead-item email-icon">
            <a target=_blank href="mailto:lesmatildes@hotmail.com">lesmatildes@hotmail.com</a>
        </span>
    </div>

    <div class="small-4 columns">
    </div>
</div>
