<div class="row masthead">
    <div class="small-12 columns">
        <span>
            <i class="fa fa-phone"></i>
        </span>
        <span class="matildes-masthead-item">96-3222639</span>

        <!-- Facebook Link -->
        <a target=_blank href="https://www.facebook.com/Les-matildes-530046710428049/">
            <span>
                <i class="fa fa-facebook-square facebook-icon"></i>
            </span>
            <span class="matildes-masthead-item">
                <span class="show-for-medium-up">Facebook</span>
            </span>
        </a>

        <!-- Instagram Link -->
        <a target=_blank href="https://www.instagram.com/lesmatildess">
            <span>
                <i class="fa fa-instagram instagram-icon" style="color:#cb2028;"></i>
            </span>
            <span class="matildes-masthead-item instagram-icon">
               <span class="show-for-medium-up">Instagram</span>
            </span>
        </a>

        <!-- Email link -->
        <a target=_blank href="mailto:lesmatildes@hotmail.com">
            <span>
                <i class="fa fa-envelope-o email-icon"></i>
            </span>
            <span class="matildes-masthead-item email-icon">
                <span class="show-for-medium-up">lesmatildes@hotmail.com</span>
            </span>
        </a>
    </div>
</div>
