<div class="row navigation-menu">
    <div class="small-12 columns">
        <div class="wrapper">
            <div class="nav-menu-item" ng-class="{'active':page==''}"><a href="/">HOME</a></div>
            <div class="nav-menu-item" ng-class="{'active':page=='articulos'}"><a href="/articulos">ARTICULOS</a></div>
            <div class="nav-menu-item" ng-class="{'active':page=='cursos'}"><a href="/cursos">CURSOS</a></div>
            <div class="nav-menu-item" ng-class="{'active':page=='contacto'}"><a href="/contacto">CONTACTO</a></div>

            <!-- Carrito -->
            <cart-icon></cart-icon>
            <!--<div class="cart-container" ng-class="itemsInCart.total ? 'cart-full' : 'cart-empty'">-->
                <!--<a href="/checkout">-->
                    <!--<div class="n-items">{{itemsInCart.total}}</div>-->
                    <!--<i class="fa fa-shopping-cart fa-2x shopping-cart"></i>-->
                <!--</a>-->
            <!--</div>-->

        </div>
    </div>
</div>
