<div class="row navigation-menu">
    <div class="small-12 columns">
        <div class="wrapper">
            <div class="nav-menu-item" ng-class="{'active':page==''}"><a href="/">HOME</a></div>
            <div class="nav-menu-item" ng-class="{'active':page=='articulos'}"><a href="/articulos">ARTICULOS</a></div>
            <div class="nav-menu-item" ng-class="{'active':page=='cursos'}"><a href="/cursos">CURSOS</a></div>
            <div class="nav-menu-item" ng-class="{'active':page=='contacto'}"><a href="/contacto">CONTACTO</a></div>
        </div>
    </div>
</div>
